fastapi
uvicorn
langgraph
langgraph-checkpoint-redis
langchain-core
langchain-openai
python-dotenv
websockets
langchain
ollama
langchain-community
redis
langchain-ollama
langchain-groq
faster-whisper
torch
torchaudio
torchcodec
coqui-tts==0.27.5
edge-tts
transformers>=4.57.0
langsmith
pdfplumber
python-multipart
